.film-card {
  background-color: rgb(218, 238, 252);
  width: fit-content;
  padding: 1rem 2rem;
  border-radius: 12px;
  box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.218);
}

.film-card > p {
  font-size: x-large;
  font-weight: bolder;
  text-decoration: underline;
}

.film-card-image {
  width: 100%;
  max-width: 600px;
}

.film-card-metadata {
  display: flex;
  gap: 2rem;
}
